service/src/main/resources/service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.services.learning.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service.services.learning.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.services.learning.org">
            <xs:element name="getCredit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCreditResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCreditRequest">
        <wsdl:part name="parameters" element="ns:getCredit"/>
    </wsdl:message>
    <wsdl:message name="getCreditResponse">
        <wsdl:part name="parameters" element="ns:getCreditResponse"/>
    </wsdl:message>
    <wsdl:portType name="CreditServicePortType">
        <wsdl:operation name="getCredit">
            <wsdl:input message="ns:getCreditRequest" wsaw:Action="urn:getCredit"/>
            <wsdl:output message="ns:getCreditResponse" wsaw:Action="urn:getCreditResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditServiceSoap11Binding" type="ns:CreditServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCredit">
            <soap:operation soapAction="urn:getCredit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditServiceSoap12Binding" type="ns:CreditServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCredit">
            <soap12:operation soapAction="urn:getCredit" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreditServiceHttpBinding" type="ns:CreditServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getCredit">
            <http:operation location="getCredit"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditService">
        <wsdl:port name="CreditServiceHttpSoap11Endpoint" binding="ns:CreditServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CreditService"/>
        </wsdl:port>
        <wsdl:port name="CreditServiceHttpSoap12Endpoint" binding="ns:CreditServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CreditService"/>
        </wsdl:port>
        <wsdl:port name="CreditServiceHttpEndpoint" binding="ns:CreditServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CreditService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
